.imagebox {
  margin-top: 2%;
  display: flex;
  width: 641px;
  justify-content: center;
  align-items: center;
}

.imagebox img {
  object-fit: contain;
  width: 31.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleBox {
  margin-top: 2%;
  width: 650px;
  height: 137px;
  background-color: #D9D9D9;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseSubtitle {
  display: flex;
  padding-top: 4%;
  padding-bottom: 2%;
  width: 500px;
  font-family: 'Jost';
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-family: 'Jost';
  font-weight: 500;
  transition: opacity 0.5s;
}

.sep {
  width: 35%;
}

.subtitle:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.subtitle2 {
  padding-bottom: 1%;
  font-family: 'Jost';
  opacity: 0.6;
  z-index: -999;
}

.storyImg {
  width: 854px;
  height: 540px;
  padding-bottom: 2%;
  cursor: pointer;
}

.storyHome {
  width: 854px;
  height: 540px;
  padding-bottom: 2%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .vidWrapper {
    position: relative;
    width: 95%;
    padding-top: 53%;
  }

  .vidWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .chooseSubtitle {
    width: 75%;
    padding-top: 6%;
    padding-bottom: 6%;
  }
}