@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.imgBox {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  justify-content: center;
  align-items: center;
}

.imgBox img {
  object-fit: contain;
  width: 280px;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.turtle {
  width: 658px;
  height: 192px;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.turtleBox {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  width: 860px;
}

.visBox {
  display: flex;
  padding-bottom: 3%;
}

.visColumn1 img {
  object-fit: contain;
  width: 493px;
  height: 416px;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.visColumn {
  display: flex;
  flex-direction: column;
}

.visColumn img {
  object-fit: contain;
  width: 359px;
  height: 202px;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.imagebox {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  justify-content: center;
  align-items: center;
}

.imagebox img {
  object-fit: contain;
  width: 280px;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleBox {
  margin-top: 2%;
  width: 650px;
  height: 137px;
  background-color: #D9D9D9;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseSubtitle {
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  padding-bottom: 2%;
  width: 500px;
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
}

.subtitle {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  transition: opacity 0.5s;
  padding-top: 2%;
  padding-bottom: 2%;
}

.subtitle:hover {
  opacity: 1 !important;
}

.subtitle2 {
  padding-bottom: 1%;
  font-family: 'Jost';
  opacity: 0.6;
  z-index: -999;
}

.storyImg {
  width: 854px;
  height: 540px;
  padding-bottom: 2%;
  cursor: pointer;
}

.storyHome {
  width: 854px;
  height: 540px;
  padding-bottom: 2%;
  cursor: pointer;
}

@media (max-width: 900px) {
  
  .imgBox {
    flex-direction: column;
    width: 95%;
  }

  .imgBox img {
    width: 100%;
  }

  .imagebox {
    flex-direction: column;
    width: 95%;
  }

  .imagebox img {
    width: 100%;
  }

  .turtleBox {
    justify-content: center;
  }

  .visBox {
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
  }

  .visColumn {
    align-items: center;
    width: 100%;
  }
  .visColumn img {
    width: 100%;
    height: auto;
  }

  .visColumn1 {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .visColumn1 img {
    width: 100%;
    height: auto;
  }
}