.imagebox {
  margin-top: 2%;
  display: flex;
  width: 641px;
  justify-content: center;
  align-items: center;
}

.imagebox img {
  object-fit: contain;
  width: 31.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  cursor: pointer;
}