@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleBox {
  margin-top: 2%;
  width: 650px;
  height: 137px;
  background-color: #D9D9D9;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  z-index: -999;
}

.subtitle2 {
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  z-index: -999;
}

.storyImg {
  width: 854px;
  height: 540px;
  padding-bottom: 2%;
  cursor: pointer;
}

.storyHome {
  width: 854px;
  height: 540px;
  padding-bottom: 2%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .storyImg {
    width: 280px;
    height: 158px;
  }

  .storyHome {
    width: 280px;
    height: 158px;
  }

  .subtitle {
    font-size: .4em;
  }

  .subtitle2 {
    font-size: .4em;
  }

}