.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.5);
  width: 50%;
}

.main img {
  object-fit: contain;
  width: 35%;
  z-index: 999;
  user-select: none;
  padding-left: 1%;
  padding-right: 1%;
}